<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Choose ABC</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<ion-button id="a" color="{{colorObject['a']}}" (click)="goToLetter('a')" size="large">a</ion-button>
<ion-button id="b" color="{{colorObject['b']}}" (click)="goToLetter('b')" size="large">b</ion-button>
<ion-button id="c" color="{{colorObject['c']}}" (click)="goToLetter('c')" size="large">c</ion-button>
<ion-button id="d" color="{{colorObject['d']}}" (click)="goToLetter('d')" size="large">d</ion-button>
<ion-button id="e" color="{{colorObject['e']}}" (click)="goToLetter('e')" size="large">e</ion-button>
<ion-button id="f" color="{{colorObject['f']}}" (click)="goToLetter('f')" size="large">f</ion-button>
<ion-button id="g" color="{{colorObject['g']}}" (click)="goToLetter('g')" size="large">g</ion-button>
<ion-button id="h" color="{{colorObject['h']}}" (click)="goToLetter('h')" size="large">h</ion-button>
<ion-button id="i" color="{{colorObject['i']}}" (click)="goToLetter('i')" size="large">i</ion-button>
<ion-button id="j" color="{{colorObject['j']}}" (click)="goToLetter('j')" size="large">j</ion-button>
<ion-button id="k" color="{{colorObject['k']}}" (click)="goToLetter('k')" size="large">k</ion-button>
<ion-button id="l" color="{{colorObject['l']}}" (click)="goToLetter('l')" size="large">l</ion-button>
<ion-button id="m" color="{{colorObject['m']}}" (click)="goToLetter('m')" size="large">m</ion-button>
<ion-button id="n" color="{{colorObject['n']}}" (click)="goToLetter('n')" size="large">n</ion-button>
<ion-button id="o" color="{{colorObject['o']}}" (click)="goToLetter('o')" size="large">o</ion-button>
<ion-button id="p" color="{{colorObject['p']}}" (click)="goToLetter('p')" size="large">p</ion-button>
<ion-button id="q" color="{{colorObject['q']}}" (click)="goToLetter('q')" size="large">q</ion-button>
<ion-button id="r" color="{{colorObject['r']}}" (click)="goToLetter('r')" size="large">r</ion-button>
<ion-button id="s" color="{{colorObject['s']}}" (click)="goToLetter('s')" size="large">s</ion-button>
<ion-button id="t" color="{{colorObject['t']}}" (click)="goToLetter('t')" size="large">t</ion-button>
<ion-button id="u" color="{{colorObject['u']}}" (click)="goToLetter('u')" size="large">u</ion-button>
<ion-button id="v" color="{{colorObject['v']}}" (click)="goToLetter('v')" size="large">v</ion-button>
<ion-button id="w" color="{{colorObject['w']}}" (click)="goToLetter('w')" size="large">w</ion-button>
<ion-button id="x" color="{{colorObject['x']}}" (click)="goToLetter('x')" size="large">x</ion-button>
<ion-button id="y" color="{{colorObject['y']}}" (click)="goToLetter('y')" size="large">y</ion-button>
<ion-button id="z" color="{{colorObject['z']}}" (click)="goToLetter('z')" size="large">z</ion-button>

<ion-button routerLink="/picture-with-labels" routerDirection="forward" expand="block" size="large">Display picture</ion-button>



</ion-content>
