<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{this.service.getLanguageList()}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
<div class="ion-padding">

<ion-buttons slot="end">
<h1 (click)="listen()">{{ word }}</h1>
<ion-button  (click)="listen()" size="large">
<ion-icon name="play"></ion-icon>
</ion-button>
</ion-buttons>

<div><img  src="{{itemImageUrlPath}}{{itemImageFileName}}"></div>
<h1 style="color : red">{{ translate }}&nbsp;</h1>
<h1>{{ translate3 }}</h1>

</div>
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-title>{{this.service.language2}}-{{this.service.language3}}-{{wordId}}</ion-title>
      <ion-button slot="end" (click)="prevWord()">
<ion-icon size="large" name="arrow-round-back"></ion-icon></ion-button>
<ion-button slot="end" (click)="nextWord()">
<ion-icon size="large" name="arrow-round-forward"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>

