<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Practice</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

This part is not finished. It presents an example of a sketch how the app will might look like in the future. 
<ion-content>
&nbsp;

<ion-button routerLink="/question4pictures" routerDirection="forward" expand="block" size="large">L0 - General selection</ion-button>

<ion-button routerLink="/question4pictures" routerDirection="forward" expand="block" size="large">L1 - Find matching picture</ion-button>

<ion-button routerLink="/question4pictures" routerDirection="forward" expand="block" size="large">L2 - Words with 2 or 3 letters</ion-button>

<ion-button routerLink="/question4pictures" routerDirection="forward" expand="block" size="large">L3 - Words with 4 letters</ion-button>

<ion-button routerLink="/question4pictures" routerDirection="forward" expand="block" size="large">L4 - Vowels</ion-button>

<ion-button routerLink="/question4pictures" routerDirection="forward" expand="block" size="large">L5 - Frequent consonants</ion-button>

Many different types exercises may be developed using the picture dictionary collection.
</ion-content>
