<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Choose animal group</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<ion-button  (click)="allItemsFilteredByTag('animal')" routerDirection="forward" expand="block" size="large">all animals</ion-button>

<ion-button  (click)="allItemsFilteredByTag('mammal')" routerDirection="forward" expand="block" size="large">mammals</ion-button>

<ion-button  (click)="allItemsFilteredByTag('bird')" routerDirection="forward" expand="block" size="large">birds</ion-button>

<ion-button  (click)="allItemsFilteredByTag('otherAnimal')" routerDirection="forward" expand="block" size="large">other animals</ion-button>


</ion-content>
