<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Language selection 2</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


<ion-radio-group (ionChange)="onChangeHandler($event)">
    <ion-item>
      <ion-label>Adele</ion-label>
      <ion-radio value="Adele" [checked]="this.selectedRadio==='Adele'"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Anufo</ion-label>
      <ion-radio value="Anufo" [checked]="this.selectedRadio==='Anufo'"></ion-radio>
    </ion-item>


    <ion-item>
      <ion-label>Akuapem Twi</ion-label>
      <ion-radio value="Akuapem Twi" [checked]="this.selectedRadio==='Akuapem Twi'"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Bimoba</ion-label>
      <ion-radio value="Bimoba" [checked]="this.selectedRadio==='Bimoba'"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Birifor</ion-label>
      <ion-radio value="Birifor" [checked]="this.selectedRadio==='Birifor'"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Buli</ion-label>
      <ion-radio value="Buli" [checked]="this.selectedRadio==='Buli'"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Dagbani</ion-label>
      <ion-radio value="Dagbani" [checked]="this.selectedRadio==='Dagbani'"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Dɛg</ion-label>
      <ion-radio value="Dɛg" [checked]="this.selectedRadio==='Dɛg'"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Ewe</ion-label>
      <ion-radio value="Ewe" [checked]="this.selectedRadio==='Ewe'"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>French</ion-label>
      <ion-radio value="French" [checked]="this.selectedRadio==='French'"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>German</ion-label>
      <ion-radio value="German" [checked]="this.selectedRadio ==='German'"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Gonja</ion-label>
      <ion-radio value="Gonja" [checked]="this.selectedRadio ==='Gonja'"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Gikyode</ion-label>
      <ion-radio value="Gikyode" [checked]="this.selectedRadio==='Gikyode'"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Gurene</ion-label>
      <ion-radio value="Gurene" [checked]="this.selectedRadio==='Gurene'"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Hanga</ion-label>
      <ion-radio value="Hanga" [checked]="this.selectedRadio==='Hanga'"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Kasem</ion-label>
      <ion-radio value="Kasem" [checked]="this.selectedRadio==='Kasem'"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Koma / Konni</ion-label>
      <ion-radio value="Koma / Konni" [checked]="this.selectedRadio==='Koma / Konni'"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Kusaal</ion-label>
      <ion-radio value="Kusaal" [checked]="this.selectedRadio==='Kusaal'"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Mampruli</ion-label>
      <ion-radio value="Mampruli" [checked]="this.selectedRadio==='Mampruli'"></ion-radio>
    </ion-item>


    <ion-item>
      <ion-label>Ntrubo</ion-label>
      <ion-radio value="Ntrubo" [checked]="this.selectedRadio==='Ntrubo'"></ion-radio>
    </ion-item>


    <ion-item>
      <ion-label>Nawuri</ion-label>
      <ion-radio value="Nawuri" [checked]="this.selectedRadio==='Nawuri'"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Nkonya</ion-label>
      <ion-radio value="Nkonya" [checked]="this.selectedRadio==='Nkonya'"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Nafaanra</ion-label>
      <ion-radio value="Nafaanra" [checked]="this.selectedRadio==='Nafaanra'"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Tampulma</ion-label>
      <ion-radio value="Tampulma" [checked]="this.selectedRadio==='Tampulma'"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Sisaala</ion-label>
      <ion-radio value="Sisaala" [checked]="this.selectedRadio==='Sisaala'"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Vagla</ion-label>
      <ion-radio value="Vagla" [checked]="this.selectedRadio==='Vagla'"></ion-radio>
    </ion-item>

  </ion-radio-group>

<p>
<ion-checkbox checked disabled></ion-checkbox> Include pictures with no label 
</p>

</ion-content>
