<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Choose mode</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<p>&nbsp;</p>
<ion-button routerLink="/learn-mode" routerDirection="forward" expand="block" size="large">learn mode</ion-button>

<p>&nbsp;</p>
<ion-button routerLink="/practice-mode" routerDirection="forward" expand="block" size="large">practice mode</ion-button>

<p>&nbsp;</p>
<ion-button routerLink="/wordlist" routerDirection="forward" expand="block" size="large">word list</ion-button>


</ion-content>
