<ion-header>
    <ion-toolbar color="primary">
    <ion-buttons slot="end">
        <ion-button routerLink="/about">
            <ion-icon name="information-circle"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>{{this.service.settings.maintitle}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

<ion-img src="/assets/shapes.svg"></ion-img>

<h1>{{this.service.getLanguageList()}}</h1>
<p>{{this.boxOfQuestions.numberOfItems}} pictures</p>


<ion-button routerLink="/choose-abc" routerDirection="forward" expand="block" size="large">Open ABC</ion-button>


<ion-button routerLink="/choose-by-tag" routerDirection="forward" expand="block" size="large">Open word groups</ion-button>

<ion-button routerLink="/practice-mode" routerDirection="forward" expand="block" size="large">Practice</ion-button>


</div>

</ion-content>


<ion-footer>
<ion-toolbar color="primary">
<ion-button slot="start" routerLink="/settings">Change language  
</ion-button>
</ion-toolbar>
</ion-footer>
